<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Restaurant for Foodholic" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Hunger Apps</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__brand">Hunger Apps</h1>
      <a id="menu" class="header__menu">☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item">
            <a href="https://linkedin.com/in/yosep-alexsander">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <div class="hero__title">
        <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
      </div>
      <div class="hero__tagline">
        <p>
          Jangan lupa untuk menggunakan salah satu gambar yang berada pada
          ./images/heros sebagai background hero elemen
        </p>
      </div>
    </section>
    <main>
      <section class="content">
        <p class="content__label">Explore Restaurant</p>
        <div class="restaurants"></div>
      </section>
    </main>
    <footer>
      <p>Copyright © ProRestaurant</p>
    </footer>
  </body>
</html>
