<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Restaurant for Foodholic" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Hunger Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten utama</a>
    <header class="header">
      <h1 class="header__brand">Hunger Apps</h1>
      <a id="menu" class="header__menu">☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item">
            <a href="https://linkedin.com/in/yosep-alexsander">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <h2 class="hero__title">
        <strong>Welcome Foodholic!!</strong>
      </h2>
      <p class="hero__tagline">
        Have you find your favorite restaurant? if no, don't worry about it
        You'll find here!
      </p>
    </section>
    <main id="maincontent">
      <section class="content">
        <p class="content__label">Explore Restaurant</p>
        <div class="restaurants"></div>
      </section>
    </main>
    <footer>
      <p>Copyright ©2021 - Hunger Apps</p>
    </footer>
  </body>
</html>
